@page "/ui-elements/buttons"

<PageTitle >Buttons</PageTitle>
<PageShell Rounded="true" Overlapping="true">
    <ShellHeader>
        <MudBreadcrumbs Items="_items" Separator=">"></MudBreadcrumbs>
        <MudText Typo="Typo.h2" Class="page-title" GutterBottom="true">Sticky Header</MudText>
        <MudText Typo="Typo.body2" Class="mb-2">Keep your header fixed at the top of pages.</MudText>
    </ShellHeader>

    <ShellBody>
         <MudGrid Spacing="2" Justify="Justify.FlexStart">
          <MudItem sm="6" >
   
                        <MudButton Variant="Variant.Filled" Color="Color.Success" >Success</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary">Primary</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary">Secondary</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Error">Error</MudButton>
                        <MudButton Variant="Variant.Filled" Disabled="true">Disabled</MudButton>
         </MudItem>  
        </MudGrid>
        <MudGrid Spacing="2" Justify="Justify.FlexStart">                 
             <MudItem sm="6"> 
               <MudCard Outlined="true">
                    <MudCardHeader>
                     <MudText>Outline buttons</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudButton Variant="Variant.Outlined" Color="Color.Success" >Success</MudButton>
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary">Primary</MudButton>
                        <MudButton Variant="Variant.Outlined" Color="Color.Secondary">Secondary</MudButton>
                        <MudButton Variant="Variant.Outlined" Color="Color.Error">Error</MudButton>
                        <MudButton Variant="Variant.Outlined" Disabled="true">Disabled</MudButton>
                    </MudCardContent>
                </MudCard>
            </MudItem>

            <MudItem sm="6"> 
            <MudCard Outlined="true">
                    <MudCardHeader>
                     <MudText>Rounded buttons</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudButton Variant="Variant.Filled" Color="Color.Success" Class="rounded-xl">Success</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="rounded-xl">Primary</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="rounded-xl">Secondary</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Error" Class="rounded-xl">Error</MudButton>
                        <MudButton Variant="Variant.Filled" Disabled="true" Class="rounded-xl">Disabled</MudButton>
                    </MudCardContent>
            </MudCard>
            </MudItem> 

            <MudItem sm="4"> 
            <MudCard Outlined="true">
                    <MudCardHeader>
                     <MudText>Icon buttons with text</MudText>
                    </MudCardHeader>
                    <MudCardContent>                  
                        <MudButton Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.HeartBroken">Wishlist</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Warning" StartIcon="@Icons.Material.Filled.Star" Class="mud-button-rounded">Favorite</MudButton>
                    </MudCardContent>
            </MudCard>
            </MudItem> 

            <MudItem sm="4"> 
            <MudCard Outlined="true">
                    <MudCardHeader>
                     <MudText>Icon buttons</MudText>
                    </MudCardHeader>
                    <MudCardContent>                  
                        <MudIconButton  Color="Color.Secondary" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Message"></MudIconButton>
                        <MudIconButton  Color="Color.Success"  Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" aria-label="delete" ></MudIconButton>
                        <MudIconButton  Color="Color.Error"  Variant="Variant.Filled"Icon="@Icons.Material.Filled.Home"></MudIconButton>
                        <MudIconButton  Color="Color.Primary"  Variant="Variant.Filled" Icon="@Icons.Material.Filled.Label"></MudIconButton>
                    </MudCardContent>
            </MudCard>
            </MudItem> 

            <MudItem sm="4"> 
            <MudCard Outlined="true">
                    <MudCardHeader>
                     <MudText>Icon buttons with text</MudText>
                    </MudCardHeader>
                    <MudCardContent>                  
                        <MudButton Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.HeartBroken">Wishlist</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Warning" StartIcon="@Icons.Material.Filled.Star" Class="mud-button-rounded">Favorite</MudButton>
                    </MudCardContent>
            </MudCard>
            </MudItem> 

           <MudItem sm="12" >
            <MudCard Outlined="true">
                <MudCardHeader>
                     <MudText>Disabled buttons</MudText>
                    </MudCardHeader>
                     <MudCardContent>  
          <MudGrid Spacing="2" Justify="Justify.Center">

   
             <MudItem >     <MudButton Variant="Variant.Filled" Color="Color.Success" Disabled="true" >Success</MudButton>         </MudItem>
                     <MudItem >         <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="true" >Primary</MudButton>        </MudItem>
                       <MudItem >       <MudButton Variant="Variant.Filled" Color="Color.Secondary" Disabled="true">Secondary</MudButton>        </MudItem>
                       <MudItem >       <MudButton Variant="Variant.Filled" Color="Color.Error" Disabled="true">Error</MudButton>        </MudItem>
                        <MudItem >      <MudButton Variant="Variant.Filled" Disabled="true">Disabled</MudButton>        </MudItem>
        

         </MudGrid>
         <MudGrid Spacing="2" Justify="Justify.Center">

                 
             <MudItem > <MudButton Variant="Variant.Outlined" Color="Color.Success" Disabled="true" >Success</MudButton>         </MudItem>
                     <MudItem ><MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="true" >Primary</MudButton>        </MudItem>
                       <MudItem ><MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="true">Secondary</MudButton>        </MudItem>
                       <MudItem ><MudButton Variant="Variant.Outlined" Color="Color.Error" Disabled="true">Error</MudButton>        </MudItem>
                        <MudItem >  <MudButton Variant="Variant.Outlined" Disabled="true">Disabled</MudButton>        </MudItem>
                         
        </MudGrid>
           </MudCardContent> 
            </MudCard>
          </MudItem>


          <MudItem sm="4" >
            <MudCard Outlined="true">
            <MudCardHeader>
            <MudText>Button sizes</MudText>
            </MudCardHeader>
             <MudCardContent>  
            <MudGrid Spacing="2"  Class="flex-column align-center">
         <MudItem >     <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Small</MudButton></MudItem>
         <MudItem >     <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Secondary">Medium</MudButton></MudItem>
        <MudItem >      <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Success">Large</MudButton></MudItem>
               </MudGrid>
            </MudCardContent>  
      </MudCard>
     
          </MudItem>

            <MudItem sm="4" >
            <MudCard Outlined="true">
            <MudCardHeader>
            <MudText>Button sizes</MudText>
            </MudCardHeader>
             <MudCardContent>  
            <MudGrid Spacing="2"  Class="flex-column align-center">
         <MudItem ><MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" Class="rounded-xl">Small</MudButton></MudItem>
         <MudItem ><MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Secondary" Class="rounded-xl">Medium</MudButton></MudItem>
        <MudItem><MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Success" Class="rounded-xl">Large</MudButton></MudItem>
            </MudGrid>
            </MudCardContent>  
         </MudCard>  
          </MudItem>


     <MudItem sm="4">
            <MudCard Outlined="true">
            <MudCardHeader>
            <MudText>Button sizes</MudText>
            </MudCardHeader>
             <MudCardContent>  
            <MudGrid Spacing="2"  Class="flex-column align-center">
         <MudItem ><MudIconButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" Icon="@Icons.Material.Filled.Home" Class="rounded-xl">Small</MudIconButton></MudItem>
         <MudItem ><MudIconButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Secondary" Icon="@Icons.Material.Filled.Home" Class="rounded-xl">Medium</MudIconButton></MudItem>
        <MudItem><MudIconButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Success" Icon="@Icons.Material.Filled.Home" Class="rounded-xl">Large</MudIconButton></MudItem>
            </MudGrid>
            </MudCardContent>  
         </MudCard>  
          </MudItem>
        </MudGrid>
 <MudText Typo="Typo.h2" Class="mt-4">Button groups</MudText>
        <MudGrid Spacing="2">
            <MudItem sm="3">
                <MudCard Outlined="true">
                    <MudCardHeader>
                        <MudText>Default</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudButtonGroup Color="Color.Success" Variant="Variant.Filled">
                            <MudButton>Active link</MudButton>
                            <MudButton>Link</MudButton>
                            <MudButton>Link</MudButton>
                        </MudButtonGroup>

                    </MudCardContent>
                </MudCard>
            </MudItem>

            <MudItem sm="3">
                <MudCard Outlined="true">
                    <MudCardHeader>
                        <MudText>Outline and rounded</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudButtonGroup Color="Color.Success" Variant="Variant.Outlined">
                            <MudButton>Left</MudButton>
                            <MudButton>Middle</MudButton>
                            <MudButton>Right</MudButton>
                        </MudButtonGroup>

                    </MudCardContent>
                </MudCard>
            </MudItem>


            <MudItem sm="3">
                <MudCard Outlined="true">
                    <MudCardHeader>
                        <MudText>Outline text vertical</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudButtonGroup Color="Color.Success" Variant="Variant.Text" VerticalAlign="true">
                            <MudButton>Left</MudButton>
                            <MudButton>Middle</MudButton>
                            <MudButton>Right</MudButton>
                        </MudButtonGroup>

                    </MudCardContent>
                </MudCard>
            </MudItem>


            <MudItem sm="3">
                <MudCard Outlined="true">
                    <MudCardHeader>
                        <MudText>ToggleIconButton</MudText>
                    </MudCardHeader>
                    <MudCardContent>

                        <MudToggleIconButton @bind-Toggled="@AlarmOn"
                                             Icon="@Icons.Material.Filled.AlarmOff" Color="@Color.Error" Title="Off"
                                             ToggledIcon="@Icons.Material.Filled.AlarmOn" ToggledColor="@Color.Success" ToggledTitle="On" />
                        <span>Alarm is @(AlarmOn ? "On" : "Off")</span>


                    </MudCardContent>
                </MudCard>
            </MudItem>


        </MudGrid>



    </ShellBody>
    <ShellFooter>
    </ShellFooter>    
</PageShell>

@code {
    public bool AlarmOn { get; set; }
    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "#"),
        new BreadcrumbItem("Ui Elements", href: "#"),
        new BreadcrumbItem("Buttons", href: null, disabled: true)
 };
   

}