@typeparam T
@inherits MudSelect<T>


<MudStack Row=@InlineOrientation AlignItems="@LabelAlign" Spacing="@SpacingAfterLabel" Class="@StackClass" Reverse="@ReverseStack">

    @{
        var isFieldValid = IsFieldValid();
        string? extendedBaseClass = !string.IsNullOrEmpty(ExtendBaseClassIfValid) && isFieldValid ? $"{Class} {ExtendBaseClassIfValid}" : Class;
    }

    @if (InlineOrientation)
    {
        if (!string.IsNullOrEmpty(LabelText))
        {
                     <MudItem xs="LabelXs" sm="LabelSm" md="LabelMd" lg="LabelLg" xl="LabelXl" xxl="LabelXxl">
                       <MudText Class="@LabelClass" Typo="@LabelTypo" Style="@LabelStyle">
                    @if (LightLabel)
                    {
                        <span class="light-label">@LabelText</span>
                    }
                    else
                    {
                        @LabelText
                    }
                        </MudText>
                    </MudItem>  
        }


        @if (isFieldValid && ShowTickIfValid)
        {                        
                        <MudItem xs="12 - LabelXs" sm="12 - LabelSm" md="12 - LabelMd" lg="12 - LabelLg" xl="12 - LabelXl" xxl="12 - LabelXxl">
                            <div class="@GetMarginOffsetForShrink()">
                            <MudSelect T="@T" Value="@Value" ValueChanged="@ValueChanged" Immediate=@Immediate
                              Class="@extendedBaseClass" For="@For" Margin="@Margin" Variant="@Variant" 
                              Adornment="@Adornment" AdornmentIcon="@AdornmentIcon" AdornmentAriaLabel="@AdornmentAriaLabel"
                              AdornmentColor="@AdornmentColor" AdornmentText="@AdornmentText"
                              AutoFocus=@AutoFocus Clearable=@Clearable Converter="@Converter" Counter="@Counter"
                              Culture="@Culture" Disabled=@Disabled DisableUnderLine=@DisableUnderLine Error=@Error ErrorId="@ErrorId"
                              ErrorText="@ErrorText" Format="@Format" HelperText="@HelperText" HelperTextOnFocus=@HelperTextOnFocus
                              IconSize="@IconSize" InputMode="@InputMode" KeyDownPreventDefault=@KeyDownPreventDefault
                              KeyPressPreventDefault=@KeyPressPreventDefault KeyUpPreventDefault=@KeyUpPreventDefault Label="@Label" Lines="@Lines"
                              MaxLength="@MaxLength" OnAdornmentClick="@OnAdornmentClick" OnBlur="@OnBlur" OnClearButtonClick="@OnClearButtonClick"
                              OnInternalInputChanged="@OnInternalInputChanged" OnKeyDown="@OnKeyDown"
                              OnKeyPress="@OnKeyPress" OnKeyUp="@OnKeyUp" OnlyValidateIfDirty=@OnlyValidateIfDirty Pattern="@Pattern"
                              Placeholder="@Placeholder" ReadOnly=@ReadOnly Required=@Required RequiredError="@RequiredError" Style="@Style"
                              Tag="@Tag" Text="@Text" TextChanged="@TextChanged" TextUpdateSuppression=@TextUpdateSuppression UserAttributes="@UserAttributes"
                              Validation="@Validation" AnchorOrigin="@AnchorOrigin" CheckedIcon="@CheckedIcon"
                              ChildContent="@ChildContent" CloseIcon="@CloseIcon" Comparer="@Comparer" Delimiter="@Delimiter"
                       Dense=@Dense IndeterminateIcon="@IndeterminateIcon" LockScroll=@LockScroll
                       MaxHeight="@MaxHeight" MultiSelection=@MultiSelection MultiSelectionTextFunc="@MultiSelectionTextFunc"
                       OnClose="@OnClose" OnOpen="@OnOpen" OpenIcon="@OpenIcon" PopoverClass="@PopoverClass"
                       SelectAll=@SelectAll SelectAllText="@SelectAllText" SelectedValues="@SelectedValues"
                       SelectedValuesChanged="@SelectedValuesChanged" Strict=@Strict ToStringFunc="@ToStringFunc"
                       UncheckedIcon="@UncheckedIcon" TransformOrigin="@TransformOrigin" />

                    @if (Adornment == Adornment.End)
                    {
                        if (Clearable == true)
                        {
                            <MudIcon Icon="@Icons.Filled.Check" Style="margin-left: -83px;" Class="align-self-center" Color="@TickColorIfValid"></MudIcon>
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Filled.Check" Class="ml-n15 align-self-center" Color="@TickColorIfValid"></MudIcon>
                        }
                    }
                    else
                    {
                        if (Clearable == true)
                        {
                            <MudIcon Icon="@Icons.Filled.Check" Class="ml-n15 align-self-center" Color="@TickColorIfValid"></MudIcon>
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Filled.Check" Class="ml-n9 align-self-center" Color="@TickColorIfValid"></MudIcon>
                        }
                    }
                </div>
            </MudItem>
        }
        else
        {       

                    <MudItem xs="12 - LabelXs" sm="12 - LabelSm" md="12 - LabelMd" lg="12 - LabelLg" xl="12 - LabelXl" xxl="12 - LabelXxl">
                            <MudSelect T="@T" Value="@Value" ValueChanged="@ValueChanged" Immediate=@Immediate
                              Class="@extendedBaseClass" For="@For" Margin="@Margin" Variant="@Variant"
                              Adornment="@Adornment" AdornmentIcon="@AdornmentIcon" AdornmentAriaLabel="@AdornmentAriaLabel"
                              AdornmentColor="@AdornmentColor" AdornmentText="@AdornmentText"
                              AutoFocus=@AutoFocus Clearable=@Clearable Converter="@Converter" Counter="@Counter"
                              Culture="@Culture" Disabled=@Disabled DisableUnderLine=@DisableUnderLine Error=@Error ErrorId="@ErrorId"
                              ErrorText="@ErrorText" Format="@Format" HelperText="@HelperText" HelperTextOnFocus=@HelperTextOnFocus
                              IconSize="@IconSize" InputMode="@InputMode" KeyDownPreventDefault=@KeyDownPreventDefault
                              KeyPressPreventDefault=@KeyPressPreventDefault KeyUpPreventDefault=@KeyUpPreventDefault Label="@Label" Lines="@Lines"
                              MaxLength="@MaxLength" OnAdornmentClick="@OnAdornmentClick" OnBlur="@OnBlur" OnClearButtonClick="@OnClearButtonClick"
                              OnInternalInputChanged="@OnInternalInputChanged" OnKeyDown="@OnKeyDown"
                              OnKeyPress="@OnKeyPress" OnKeyUp="@OnKeyUp" OnlyValidateIfDirty=@OnlyValidateIfDirty Pattern="@Pattern"
                              Placeholder="@Placeholder" ReadOnly=@ReadOnly Required=@Required RequiredError="@RequiredError" Style="@Style"
                              Tag="@Tag" Text="@Text" TextChanged="@TextChanged" TextUpdateSuppression=@TextUpdateSuppression UserAttributes="@UserAttributes"
                              Validation="@Validation" AnchorOrigin="@AnchorOrigin" CheckedIcon="@CheckedIcon"
                              ChildContent="@ChildContent" CloseIcon="@CloseIcon" Comparer="@Comparer" Delimiter="@Delimiter"
                       Dense=@Dense IndeterminateIcon="@IndeterminateIcon" LockScroll=@LockScroll
                       MaxHeight="@MaxHeight" MultiSelection=@MultiSelection MultiSelectionTextFunc="@MultiSelectionTextFunc"
                       OnClose="@OnClose" OnOpen="@OnOpen" OpenIcon="@OpenIcon" PopoverClass="@PopoverClass"
                       SelectAll=@SelectAll SelectAllText="@SelectAllText" SelectedValues="@SelectedValues"
                       SelectedValuesChanged="@SelectedValuesChanged" Strict=@Strict ToStringFunc="@ToStringFunc"
                       UncheckedIcon="@UncheckedIcon" TransformOrigin="@TransformOrigin" />
                       </MudItem>

        }        
    } 
    else
    {
        if (!string.IsNullOrEmpty(LabelText))
           {
                <MudText Class="@LabelClass" Typo="@LabelTypo" Style="@LabelStyle">
                        @if(LightLabel) { <span class="light-label">@LabelText</span> }
                        else { @LabelText }
                </MudText>
           }
            if (isFieldValid && ShowTickIfValid)
        {
            <div class="@GetMarginOffsetForShrink()">
                <MudSelect T="@T" Value="@Value" ValueChanged="@ValueChanged" Immediate=@Immediate
                   Class="@extendedBaseClass" For="@For" Margin="@Margin" Variant="@Variant"
                   Adornment="@Adornment" AdornmentIcon="@AdornmentIcon" AdornmentAriaLabel="@AdornmentAriaLabel"
                   AdornmentColor="@AdornmentColor" AdornmentText="@AdornmentText"
                   AutoFocus=@AutoFocus Clearable=@Clearable Converter="@Converter" Counter="@Counter"
                   Culture="@Culture" Disabled=@Disabled DisableUnderLine=@DisableUnderLine Error=@Error ErrorId="@ErrorId"
                   ErrorText="@ErrorText" Format="@Format" HelperText="@HelperText" HelperTextOnFocus=@HelperTextOnFocus
                   IconSize="@IconSize" InputMode="@InputMode" KeyDownPreventDefault=@KeyDownPreventDefault
                   KeyPressPreventDefault=@KeyPressPreventDefault KeyUpPreventDefault=@KeyUpPreventDefault Label="@Label" Lines="@Lines"
                   MaxLength="@MaxLength" OnAdornmentClick="@OnAdornmentClick" OnBlur="@OnBlur" OnClearButtonClick="@OnClearButtonClick"
                   OnInternalInputChanged="@OnInternalInputChanged" OnKeyDown="@OnKeyDown"
                   OnKeyPress="@OnKeyPress" OnKeyUp="@OnKeyUp" OnlyValidateIfDirty=@OnlyValidateIfDirty Pattern="@Pattern"
                   Placeholder="@Placeholder" ReadOnly=@ReadOnly Required=@Required RequiredError="@RequiredError"
                   Tag="@Tag" Text="@Text" TextChanged="@TextChanged" TextUpdateSuppression=@TextUpdateSuppression UserAttributes="@UserAttributes"
                   Validation="@Validation" AnchorOrigin="@AnchorOrigin" CheckedIcon="@CheckedIcon"
                   ChildContent="@ChildContent" CloseIcon="@CloseIcon" Comparer="@Comparer" Delimiter="@Delimiter"
                   Dense=@Dense IndeterminateIcon="@IndeterminateIcon" LockScroll=@LockScroll
                   MaxHeight="@MaxHeight" MultiSelection=@MultiSelection MultiSelectionTextFunc="@MultiSelectionTextFunc"
                   OnClose="@OnClose" OnOpen="@OnOpen" OpenIcon="@OpenIcon" PopoverClass="@PopoverClass"
                   SelectAll=@SelectAll SelectAllText="@SelectAllText" SelectedValues="@SelectedValues"
                   SelectedValuesChanged="@SelectedValuesChanged" Strict=@Strict ToStringFunc="@ToStringFunc"
                   UncheckedIcon="@UncheckedIcon" TransformOrigin="@TransformOrigin" />


                   @if (Adornment == Adornment.End)
                    {
                        if (Clearable == true)
                        {
                            <MudIcon Icon="@Icons.Filled.Check" Style="margin-left: -83px;" Class="align-self-center" Color="@TickColorIfValid"></MudIcon>
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Filled.Check" Class="ml-n15 align-self-center" Color="@TickColorIfValid"></MudIcon>
                        }
                    }
                    else
                    {
                        if (Clearable == true)
                        {
                            <MudIcon Icon="@Icons.Filled.Check" Class="ml-n15 align-self-center" Color="@TickColorIfValid"></MudIcon>
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Filled.Check" Class="ml-n9 align-self-center" Color="@TickColorIfValid"></MudIcon>
                        }
                    }
                                  
            </div>
        }
        else
        {
            <div class="align-self-stretch">          
                <MudSelect T="@T" Value="@Value" ValueChanged="@ValueChanged" Immediate=@Immediate
                   Class="@extendedBaseClass" For="@For" Margin="@Margin" Variant="@Variant"
                   Adornment="@Adornment" AdornmentIcon="@AdornmentIcon" AdornmentAriaLabel="@AdornmentAriaLabel"
                   AdornmentColor="@AdornmentColor" AdornmentText="@AdornmentText"
                   AutoFocus=@AutoFocus Clearable=@Clearable Converter="@Converter" Counter="@Counter"
                   Culture="@Culture" Disabled=@Disabled DisableUnderLine=@DisableUnderLine Error=@Error ErrorId="@ErrorId"
                   ErrorText="@ErrorText" Format="@Format" HelperText="@HelperText" HelperTextOnFocus=@HelperTextOnFocus
                   IconSize="@IconSize" InputMode="@InputMode" KeyDownPreventDefault=@KeyDownPreventDefault
                   KeyPressPreventDefault=@KeyPressPreventDefault KeyUpPreventDefault=@KeyUpPreventDefault Label="@Label" Lines="@Lines"
                   MaxLength="@MaxLength" OnAdornmentClick="@OnAdornmentClick" OnBlur="@OnBlur" OnClearButtonClick="@OnClearButtonClick"
                   OnInternalInputChanged="@OnInternalInputChanged" OnKeyDown="@OnKeyDown"
                   OnKeyPress="@OnKeyPress" OnKeyUp="@OnKeyUp" OnlyValidateIfDirty=@OnlyValidateIfDirty Pattern="@Pattern"
                   Placeholder="@Placeholder" ReadOnly=@ReadOnly Required=@Required RequiredError="@RequiredError" Style="@Style"
                   Tag="@Tag" Text="@Text" TextChanged="@TextChanged" TextUpdateSuppression=@TextUpdateSuppression UserAttributes="@UserAttributes"
                   Validation="@Validation" AnchorOrigin="@AnchorOrigin" CheckedIcon="@CheckedIcon"
                   ChildContent="@ChildContent" CloseIcon="@CloseIcon" Comparer="@Comparer" Delimiter="@Delimiter"
                   Dense=@Dense IndeterminateIcon="@IndeterminateIcon" LockScroll=@LockScroll
                   MaxHeight="@MaxHeight" MultiSelection=@MultiSelection MultiSelectionTextFunc="@MultiSelectionTextFunc"
                   OnClose="@OnClose" OnOpen="@OnOpen" OpenIcon="@OpenIcon" PopoverClass="@PopoverClass"
                   SelectAll=@SelectAll SelectAllText="@SelectAllText" SelectedValues="@SelectedValues"
                   SelectedValuesChanged="@SelectedValuesChanged" Strict=@Strict ToStringFunc="@ToStringFunc"
                   UncheckedIcon="@UncheckedIcon" TransformOrigin="@TransformOrigin" />
            </div>
        }
    }
</MudStack>